* {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

a {
    text-decoration: none;
    font-size: 21px;
}

body {
    display:flex;
    flex-direction: column;
    height: 100vh;
    margin:0px; 
    background-color: rgb(50, 50, 50);
}

header {
    flex: 0 100px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

#logo {
    width: 25vw;
    height: 10vh;
    margin-left: 1vw;
}

.menu {
    padding-right: 2vw;
}

h2 {
    align-self: center;
    margin: 0px;
}

p {
    align-self: center;
}

main {
    flex: 1;
    display:flex;
    flex-direction: column;
}

.games {
    flex: 1;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    flex: 0;
    margin: 10px;
    padding: 10px;
    background-color: rgb(60, 60, 60);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.play {
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255,178,47,255);
    height: 25px;
}

footer {
    flex: 0 10vh;
    background-color: rgba(255,178,47,255);
}


